################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ConsoleAppNLPTwitterAnalysisSample/v15
/ConsoleAppNLPStanford/bin/Debug
/ConsoleAppNLPStanford/obj/Debug
/ConsoleAppNLPVADERSampleNetCore/bin/Debug/netcoreapp2.1
/ConsoleAppNLPVADERSampleNetCore/obj/Debug/netcoreapp2.1
/ConsoleAppNLPVADERSampleNetCore/obj
/ConsoleAppUsingGoogleCloudAPI/bin/Debug/netcoreapp2.2
/ConsoleAppUsingGoogleCloudAPI/obj/Debug/netcoreapp2.2
/ConsoleAppUsingGoogleCloudAPI/obj
/packages
